body {
  background: azure;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#title:hover{
  margin: 1em 0 1em 0;
  padding:0 .2em 0 .2em;
  border-left: .2em solid #111;
  border-right: .2em solid #111;
  border-top: .2em solid #111;
  border-bottom: .2em solid #111;
  transition: all .5s ease-in-out;
}

#mainpage{
  font-size: 1.1rem;
}
#title{
  font-size: 3rem;
  color:red;
  font-weight:500;
  padding-left: 50px;
}
#titlep{
  font-weight:500;
  padding-left: 50px;
}
s
.image1 {
   position: relative;
   width: 100%; /* for IE 6 */
}
.image1{
  width: 100%;
}

#heading5{
  font-style: oblique;

}
#p5{
  font-style: italic;
  font-color:orange;
  font-size: 14px;
}

/*whyus*/
#whyus p{
  align-content: center;
  line-height: 1.5rem;


}
  /*social icon styles*/
  .fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
    width: 60%;
    height: 45%;
  }
  .fi-social-youtube {
    color: red;
    font-size: 2rem;
  }
  .fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
  }
  i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
  }
  i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
  }
  .fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
  }
